In [1]:
import pandas as pd

In [4]:
dataset_source = "snli_1.0/snli_1.0_dev.txt"
metrics = ""

In [7]:
dataset = pd.read_csv(dataset_source, sep="\t")
dataset = dataset[["gold_label", "sentence1", "sentence2"]]
dataset = dataset.rename(columns={"gold_label": "label", "sentence1": "premise", "sentence2": "hypothesis"})
dataset.head()

,label,premise,hypothesis
0,neutral,Two women are embracing while holding to go pa...,The sisters are hugging goodbye while holding ...
1,entailment,Two women are embracing while holding to go pa...,Two woman are holding packages.
2,contradiction,Two women are embracing while holding to go pa...,The men are fighting outside a deli.
3,entailment,"Two young children in blue jerseys, one with t...",Two kids in numbered jerseys wash their hands.
4,neutral,"Two young children in blue jerseys, one with t...",Two kids at a ballgame wash their hands.

In [8]:
dataset["label"].unique()

array(['neutral', 'entailment', 'contradiction', '-'], dtype=object)

In [9]:
dataset = dataset[dataset["label"] != "-"]
dataset.shape

(9842, 3)

In [10]:
dataset.to_csv("snli_dev.txt", sep="\t", index=False)