In [1]:
import pandas as pd

In [2]:
embds_file = "../data/embds/glove.840B.300d.txt"
# source_name = "../data/snli_1.0/cl_snli_train_source_file"
source_name = "../data/snli_1.0/cl_snli_train_source_file"

In [3]:
def add_word(w, d):
    if w in d:
        d[w] += 1
    else:
        d[w] = 1

In [4]:
words_missing = []
if "multinli" in source_name:
    source = open(source_name, 'rb')
else:
    source = open(source_name, 'r')
vocab = set()
words_affected = {}

In [5]:
missing_words = set()
vectored_words = set()
samples_affected = 0
affected_num = 0
with open(embds_file, encoding="utf8") as f:
    for line in f:
      word, vec = line.split(' ', 1)
      vectored_words.add(word)

In [6]:
num_samples = 0

try:
    while True:
        if "multinli" in source_name:
            try:
                line = next(source).decode(encoding='UTF-8').replace("\n", "").replace(" .", "").split("|||")
            except UnicodeDecodeError:
                pass
        else:
            line = next(source).replace("\n", "").replace(" .", "").split("|||")
        premise, hypothesis = line[0].split(" "), line[1].split(" ")
        affected = False
        for word in hypothesis:
            if word not in vectored_words:
                add_word(word, words_affected)
                affected_num += 1
                affected = True
            vocab.add(word)
        for word in premise:
            if word not in vectored_words:
                add_word(word, words_affected)
                affected_num += 1
                affected = True
            vocab.add(word)
        if affected:
            samples_affected += 1
        num_samples += 1
        if num_samples % 20000 == 0:
            print(num_samples, "completed")
except StopIteration:
    pass

20000 completed
40000 completed
60000 completed
80000 completed
100000 completed
120000 completed
140000 completed
160000 completed
180000 completed
200000 completed
220000 completed
240000 completed
260000 completed
280000 completed
300000 completed
320000 completed
340000 completed
360000 completed
380000 completed
400000 completed
420000 completed
440000 completed
460000 completed
480000 completed
500000 completed
520000 completed
540000 completed

In [7]:
missing_words = vocab - vectored_words
len(missing_words)

4359

In [8]:
len(missing_words)/len(vocab)

0.10220158964619822

In [9]:
samples_affected

9953

In [10]:
affected_num

10800

In [11]:
num_samples

549360

In [12]:
affected_num/num_samples

0.019659239842726082

In [13]:
words = pd.DataFrame.from_dict(words_affected, orient='index').reset_index().rename(columns={0: "num", "index": "word"}).sort_values(by="num", ascending=False)
words.head(20)

                  word   num
0           blond-hair  1439
108      rollerskaters    55
631        surfboarder    50
606       Blond-haired    49
362          graffited    40
693               men-    33
148         parasailer    30
1722         sidewalk-    30
68        blond-headed    29
87         boogieboard    28
1224  casually-dressed    24
1652           ggauged    24
591            turkers    24
2266   brunette-haired    22
1411        waterskiis    21
1165         mini-race    21
1354          RoadWork    21
3077         rally-car    20
2424     green-shirted    20
348               bvoy    20

In [14]:
numericals = []

for word in missing_words:
    for num in ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]:
        if num in word:
            numericals.append(word)
            continue

In [15]:
len(numericals)

59

In [16]:
15, 18

(15, 18)